[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FITfileR"]
	path = FITfileR
	url = https://github.com/grimbough/FITfileR
	registered = false
